# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3
.cache/
.cache
*.log
*.pot
*.mo
*.env
.env.*
.venv/
venv/

# VSCode
.vscode/

# Node
node_modules/
bun.lockb
yarn.lock
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Frontend build
/build/
/dist/

# Misc
*.swp
*.swo
.idea/
*.bak

# Local data
backend/cache/
backend/chroma_db/

# PDF and data
*.pdf
backend/data/
